.header{
    overflow:hidden;
    background-color:#cccccc;
}
.header a{
    float:right;
    color:black;
    text-align: center;
    text-decoration: none;
    font-size: 18px;
    line-height:25px;
    border-radius: 4px;
}
.header-right{
    float:right;
}
body{
    position: relative;
    background-image: url("leaves-pattern.png")
}

h1{
    position: absolute;
    padding:20px;
    float:left;
    margin-left: 90px;
    margin-top: 0;
    color:#ffffff;
    background-color:#4aaaa5;
    font-family: 'Quicksand', sans-serif;
    text-align: center;
    box-sizing: border-box;
    width:20%;
    border: 2px solid #cccc;
    overflow: auto;

}
h2{
    font-family:Georgia, 'Times New Roman', Times, serif;
    color:#4aaaa5;
}

header * {
    display: inline;
}
  
ul{
width: auto;
float:right;
margin-top: 8px;
margin-right: 90px;

   
}
  
li{
  display:inline-block;
  padding:10px;

  }

a{
    text-align: center;
    color: black;
    text-decoration: none;
    font-family: 'PT Sans', sans-serif;
    font-size:1.2vw;
}
a:hover{
    color:teal;
    
}

#content{
    border:#dddddd;
    float: center;
    overflow: auto;
    background-color:#ffffff;
    width: 960px;
    margin:90px;
    padding: 30px;
    line-height:36px;
}

figcaption{
    padding-left:20px;
}
/* Container holding the image and the text */
.container {
    position: relative;
}
/*Bottom right text*/
.text-block{
    position:absolute;
    bottom: 20px;
    right: 20px;
    background-color: black;
    color:white;
    padding-left:20px;
    padding-right:20px;
}

/* Three image containers (use 25% for four, and 50% for two, etc) */
.column {
    flex:33.33%;
    padding: 5px;
}
/* Style the button and place it in the middle of the container/image */
.container .btn{
    position:absolute;
    top:50%;
    left:50%;
    transform:translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    background-color: #555;
    color:white;
    font-size: 16px;
    padding:12px 24px;
    border: none;
    cursor:pointer;
    border-radius: 5px;
}

.grid{
    display:flex;
}

/* clear floats after image containers */
.row::after{
    content: "";
    clear: both;
    display: table;

}
input[type=text],textarea{
    width:100%;
    padding:12px;
    border:1px solid #ccc;
    border-radius:4px;
    box-sizing:border-box;
    resize:vertical;
}
label{
    padding: 12px 12px 12px 0;
    display:inline-block;
}

input[type=submit] {
    background-color:silver;
    padding:12px 20px;
    border:none;
    border-radius:4px;
    float:right;
}
input[type=submit]:hover {
    background-color: peachpuff;
}
#footer {
    border-top: 8px solid #4aaaa5;
    max-width: none !important;
    position:fixed;
    left:0;
    bottom:0;
    width:100%;
    background-size: 100%;
    background-color: #6666;
    text-align:center;

}
